* {
    padding: 0;
    margin: 0;
}
bodyv{
background-color: #00000;
}
.player{
   background-color: #8B0000;
    width: 330px; 
    height: 190px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: 0 8px 0 0 rgb(139, 0, 0);
}
.record {
  height: 175px;
  width: 175px;  
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record:before, 
.record:after {
    position: absolute;
    content: "";
    border: 5px solid transparent;
    border-top-color: #2c2424;
    border-bottom-color: #2c2424;
    border-radius: 50%;
}

.record:before {
    height: 135px;
    width: 135px;
}

.record:before {
    height: 95px;
    width: 95px;
}

.label {
background-color: #181312;
height: 15px; 
width: 15px; 
border: 20px solid #ff8e00;   
border-radius: 50%;
}
